

body {
  background-image: url("https://www.shutterstock.com/image-illustration/neon-glowing-question-mark-abstract-260nw-1477780859.jpg");
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  text-align: center;
}
